<div class="container">
    <div class="row mt-5">
        <h3 class="text-center text-uppercase p-2">Membresias</h3>

        {{#if suscriptores}}
        <table class="table text-center">
            <thead>
                <tr class="table-dark">
                    <th scope="col" class="col-2">Nombre</th>
                    <th scope="col" class="col-2">Apellido</th>
                    <th scope="col">Email</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Membresía</th>
                    <!--<th scope="col">Descripción</th>-->
                    <!--<th scope="col">Precio</th>-->
                    <th scope="col">Titulo a obtener</th>
                    <th scope="col">Suscripción</th>
                    <th scope="col">Tiempo<br>(meses)</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each suscriptores}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{lastname}}</td>
                    <td>{{email}}</td>
                    <td>{{age}}</td>
                    <td>
                        {{#if imagen}}
                        <img src="/uploads/{{imagen}}" style="width:150px; height:150px; display:block"
                            class="card-img-top mx-auto m-2 rounded-circle">
                        {{else}}
                        <img src="/img/usuario_sin_cuenta.jpg" style="width:150px; height:150px; display:block"
                            class="card-img-top mx-auto m-2 rounded-circle">
                        {{/if}}
                    </td>
                    <td>{{membership}}</td>
                    <!--<td>
                                    <div class="input-group mt-2">
                                        <textarea class="form-control custom-textarea" name="description"
                                            id="description"
                                            readonly>{{description}}</textarea>
                                    </div>
                            </td>-->
                    <!--<td>{{price}}</td>-->
                    <td>{{certified}}</td>
                    <td>{{state}}</td>
                    <td>{{tiempo}}</td>
                    <td>
                        <div class="btn btn-group">
                            <a href="/editsuscripcion/{{id}}" class="btn btn-warning p-2">
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                            <a href="deletesuscripcion/{{id}}" class="btn btn-danger p-2">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <div class="card text-center mx-auto">
            <div class="card-header">
                <h3>Membresías</h3>
            </div>
        </div>
        <div class="card-body">
            <p>Parece que aún no has agregado ningún producto al carrito de compras. Da clic al botón y podrás conocer
                cada uno de nuestros productos.</p>
            <a href="/addsuscripcion" class="btn btn-primary">Buscar</a>
        </div>
        {{/if}}

    </div>
</div>